@model IEnumerable<Example.Models.Company>

<h2>Custom Example</h2>
<p>Example using custom datasources. Notice CompanySize is of type Enum.</p>
<fieldset id="output">
    <legend>Output</legend>
    <table id="outputTable">
        <tr>
            <th>
                CompanyName
            </th>
            <th>
                CompanySize
            </th>
            <th>
                Email
            </th>
            <th>
                Street
            </th>
            <th>
                Postal
            </th>
            <th>
                City
            </th>
            <th>
                Url
            </th>            
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.CompanyName
            </td>
            <td>
                @item.CompanySize
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Street
            </td>
            <td>
                @item.Postal
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.Url
            </td>            
        </tr>
    }
    </table>
</fieldset>
<fieldset id="code">
    <legend>Code</legend>
    <pre><h3>Class:</h3>
public class Company
{
    public string CompanyName { get; set; }
    public CompanySizeEnum CompanySize { get; set; }
    public string Email { get; set; }
    public string Street { get; set; }
    public string Postal { get; set; }
    public string City { get; set; }
    public string Url { get; set; }
}

public enum CompanySizeEnum
{
    Small,
    Medium,
    Large
}

<h3>AutoPoco:</h3>
// Create factory for poco's and setup datasources
var pocoFactory = AutoPocoContainer.Configure(x =>
{
    x.Conventions(c => c.UseDefaultConventions());
    x.AddFromAssemblyContainingType&lt;Company&gt;();
    x.Include&lt;Company&gt;()
        .Setup(c => c.CompanyName).Use&lt;CompanySource&gt;()
        .Setup(c => c.CompanySize).Use&lt;EnumSource&lt;CompanySizeEnum&gt;&gt;()
        .Setup(c => c.Email).Use&lt;ExtendedEmailAddressSource&gt;()
        .Setup(c => c.Street).Use&lt;StreetSource&gt;()
        .Setup(c => c.Postal).Use&lt;PostalSource&gt;()
        .Setup(c => c.City).Use&lt;CitySource&gt;()
        .Setup(c => c.Url).Use&lt;UrlSource&gt;();
});

// Get session from factory
var pocoSession = pocoFactory.CreateSession();

// Get 10 companies
var companies = pocoSession.List&lt;Company&gt;(10).Get();
    </pre>
</fieldset>

